header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.headerSwiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.headerSwiper img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
    height: 30px !important;
    width: 30px !important;
    background: rgb(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 5px;
}

.swiper-button-next {
    margin-right: 20px;
}

.swiper-button-prev {
    margin-left: 20px !important;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0 20px;
    margin: 0 auto;
}

.navHr {
    width: 90%;
    position: absolute;
    top: 94px;
    left: 50%;
    transform: translateX(-50%);

    border: 1px solid white;

    z-index: 20;
}

.logo {
    width: 250px;
    height: 46px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        padding: 0px 5px;
    }
}

.logoText {
    color: white;

    p {
        padding: 2px;
    }
}



.logoText p:first-child,
.logoText p:nth-child(2) {
    font-weight: 700;
    font-size: 12px;
}

.logoText p:last-child {
    font-weight: 400;
    font-size: 8px;
}

.bar {
    color: white;
    font-size: 26px;
    margin-bottom: 20px;
    display: block;
}

.menu {
    display: none;
}

.lang {
    display: flex;
    align-items: center;
    gap: 20;
    color: white;
}

.langDropdown,
.search {
    width: 40px;
    height: 40px;
    font-size: 16px;
    margin: 0 10px;
    padding: 9px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.langDropdown {
    position: relative;
}

.langList {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 10;
    background: rgba(186, 186, 186, 0.3);
    border: 1px solid;
    padding: 6px 8px;
    display: none;
    font-size: 16px;
}

.langDropdown.active .langList {
    display: block;
}


@media only screen and (min-width: 400px) {
    nav {

        padding: 0 40px;
    }

}


@media only screen and (min-width: 768px) {

    .menu {
        display: flex;
        align-items: center;
        color: white;
        font-size: 18px;
    }

    .menu li {
        margin-left: 30px;
        i{
            margin: 8px;
        }
    }

    .menu li:first-child {
        margin-left: 0;
    }

    .bar {
        display: none;
    }

    .navHr {
        width: 96%;

    }

    .logo {
        width: 300px;
        height: 46px;
    }

    .logoText p:first-child,
    .logoText p:nth-child(2) {
        font-weight: 700;
        font-size: 16px;
    }

    .logoText p:last-child {
        font-weight: 400;
        font-size: 12px;
    }


}