header {
    width: 100%;
    height: 100vh;
    background: url(/img/header_bg1.jpg) no-repeat ;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

nav img {
    width: 250px;
    max-width: 100%;
}

.bar {
    display: block;
}

.fa-bars {
    display: block !important;
    color: white;
    font-size: 30px;
    padding: 10px 0;
    cursor: pointer;
}

.mobileMenu {
    background-image: url(/img/menuBG.svg);
    background-color: white;
    background-size: 280px;
    background-position: right bottom;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    transform: translateY(-150%);
    transition: 0.9s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.no-scroll {
    overflow: hidden;
}

.mobileMenu.active {
    transform: translateY(0);
}

.mobileMenu ul {
    padding: 40px 0;
}

.mobileMenu li {
    padding: 15px;
    font-size: 18px;
}

.closeBtn {
    text-align: right;
    padding: 20px;
}

.closeBtn i {
    font-size: 28px;
    cursor: pointer;
}

.logoClose {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navHr {
    width: 96%;
    position: absolute;
    top: 94px;
    left: 50%;
    transform: translateX(-50%);
}

.navHr {
    border: 1px solid white;
}

.menuHR {
    border: 1px solid #A7A7A7 !important;
    margin: 0 20px;
}
.fa-caret-down{
    font-size: 20px;
    padding: 10px;
}
.menu{
    color: #1C4734;
    margin: 0 20px;
}

.menu ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease;
    padding: 0;
    margin: 0;
    color: #6E7576;
}

.menu li.active>ul {
    max-height: 300px;
}

.menu ul ul {
    display: none;
    padding-left: 20px;
}

.menu ul ul li {
    padding: 8px 0;
}

.menu li {
    cursor: pointer;
}


.fa-caret-down {
    transition: 0.6s;
}

.lang {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 100px;
    gap: 10px;
}

.langDropdown {
    position: relative;
}

.langDropdown, .langList,
.search {
    border: 1px solid #DEDEDE;
    padding: 16px;
    font-size: 20px;
    cursor: pointer;
}
.langDropdown:hover,
.langList div:hover,
.search:hover{
    background: #f0f0f0;
    backdrop-filter: blur(5px);
}

li.active .fa-caret-down {
    transform: rotate(180deg);
}

.langList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    background: white;
    border: 1px solid #DEDEDE;
}

.langDropdown.active .langList {
    display: block;
}
.searchTop i{
    font-size: 32px;
    color: #6E7576;
    padding: 15px;
}


.searchOverlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background: rgba(255,255,255,0.95);
    backdrop-filter: blur(5px);
    display:none;
    flex-direction: column;
    padding: 20px;
    z-index: 999;
}

.searchTop{
    display:flex;
    justify-content:space-between;
    gap:10px;
}

.searchTop input{
    flex:1;
    padding:12px;
    font-size:18px;
    border-radius:4px;
    border: none;        
    outline: none;       
    color: #656565;
}

.searchTop button{
    padding:10px 20px;
    font-size:18px;
    cursor:pointer;
    border:none;
    background: none;
    color: #6E7576;
}


.searchResults{
    margin-top:20px;
    max-height:80vh;
    overflow-y:auto;
}

.resultItem{
    padding:10px;
    cursor:pointer;
    border-bottom:1px solid #eee;
}

.resultItem:hover{
    background:#f0f0f0;
}

.resultItem::before {
    content: "→";      
    margin-right: 10px; 
    color: #555;      
    font-weight: bold;
}

footer {
    background: rgba(34, 42, 39, 1);
    background-image: url(../img/footerBgLogo.svg);
    background-repeat: no-repeat;
    background-position: right top;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form {
    padding: 40px 20px 10px 20px;
}

.form p {
    font-size: 24px;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
}

.form h1 {
    color: white;
    padding: 20px 8px;
}

.form h2 {
    color: rgba(29, 159, 111, 1);
    padding: 0px 8px 20px 8px;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 400px;
}

.contactForm input {
    border: none;
    border-bottom: 1px solid rgb(122, 127, 125);
    padding: 10px 0;
    font-size: 16px;
    outline: none;
    background: transparent;
}

.sendBtn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    color: rgba(255, 255, 255, 1);
}

.sendBtn span {
    font-size: 20px;
    transition: 0.3s;
}

.sendBtn:hover span {
    transform: translateX(5px);
}

.footerMenu {
    color: white;
    padding-top: 40px;
    font-size: 20px;
}

.footerMenu li {
    padding: 12px 0;
    cursor: pointer;
}

.footerMenu p {
    color: rgb(122, 127, 125);
    font-size: 18px;
    padding: 6px 0;
}


.contactIcon {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 24px 0;
}

.contactIcon i {
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(122, 127, 125);
    border-radius: 50%;
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.contactIcon i:hover {
    background-color: rgb(122, 127, 125, 0.2);
    /* hover effekti */
}

.footerFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footerBottom {
    background: rgba(49, 57, 54, 1);
    color: rgba(255, 255, 255, 1);
}

.footerBottom p {
    padding: 14px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 40px 20px;
}

main {
    display: flex;
    flex-direction: column;
    /* yuxarı-aşağı */
    gap: 40px;
    /* divlər arasındakı məsafə */
}

.title {
    font: 600 24px/32px Inter;
    color: #1D9F6F;
}

.mainText {
    color: #6E7576;
    font: 400 14px/22px Inter;
    padding: 16px 0;
}


.aboutLeft {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.counterSection {
    padding: 20px 0;
}

.mainHR {
    border-width: 1px;
    opacity: 10%;
    border: 1px solid #000000;
    margin: 20px 0;

}

.counter {
    font: 700 40px/56px Inter;
    color: #1C4734;
    padding-right: 20px;
}

.counterText {
    font: 400 16px / 22px;
    color: #0C242A;
}

.accordionBox {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.accordionBox i {
    color: #1D9F6F;
}

.accordionBox span {
    color: #6E7576;
    font-size: 14px;
    vertical-align: super;
    padding: 2px 6px;
}

.accordionBoxText p {
    padding: 20px;
    color: #6E7576;
    font-size: 24px;
    line-height: 38px;
}

.accordionBoxText {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease;
}


.accordionBoxText {
    max-height: 0;
    overflow: hidden;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.8s ease;
}

.accordionItem.active .accordionBoxText {
    max-height: 500px;
    transform: translateY(0);
    opacity: 1;
}

.plusIcon {
    display: inline;
}

.minusIcon {
    display: none !important;
}

.accordionBtn {
    background: none;
    font: 600 24px/32px Inter;
    color: #0C242A;
}

.accordionItem.active .accordionBtn {
    color: #1D9F6F;
    transition: max-height 0.9s ease;
}

.accordionItem.active .accordionBoxText {
    max-height: 500px;
}

.accordionItem.active .plusIcon {
    display: none !important;
}

.accordionItem.active .minusIcon {
    display: inline !important;
}

.slider {
    position: relative;
    margin: 40px 0;
    width: 100%;
    height: clamp(300px, 50vw, 680px);
    overflow: hidden;
}


.slides {
    position: relative;
    height: 80%;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) 40%,
            rgba(0, 0, 0, 0.75) 100%);
}


.slide.active {
    opacity: 1;
    z-index: 2;
}



.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.slideText {
    position: absolute;
    bottom: 12%;
    left: 5%;

    color: white;
    z-index: 20;

    font-size: clamp(14px, 2.2vw, 28px);
    line-height: 1.3;
    font-weight: 600;
    font-family: "Inter";

    width: clamp(200px, 45%, 600px);
}

.sliderControls button {
    color: #6E7576;
    width: 30px;
    height: 30px;
    border: 1px solid #6E757680;
    cursor: pointer;
    font-size: 14px;
    margin-left: 12px;
}

.sliderControls button:hover {
    background: #f5f5f5;
}

.NextPrevBtn {
    display: flex;
    justify-content: space-between;
}


.partnersSlider {
    width: 100%;
    overflow: hidden;
    padding: 2.5rem 0;
    position: relative;
}

.track {
    display: flex;
    gap: 30px;
}

.item img {
    max-width: 200px;
    display: block;
}


.mediaCard img {
    width: 100%;
    height: 226px;
    object-fit: cover;
}


.mediaCards {
    width: 100%;
    padding: 50px 0;
}


.mediaCard span {
    color: #6E7576;
    display: block;
    text-transform: uppercase;
    padding: 18px 0;
}

.mediaCard p {
    color: #0C242A;
    font: 600 18px/25px;
    font: 600 17px/25px 'Inter', sans-serif;
}

.imgBox {
    position: relative;
}

.imgBox img {
    width: 100%;
    height: 226px;
    object-fit: cover;
    display: block;
}

.imgBox::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #0000001A;

}























/* Böyük ekran: ≥795px */
@media only screen and (min-width: 795px) {
    .bar,  .mobileMenu{
        display: none;
    }

    .mediaCards {
        display: flex;
        gap: 20px;
    }

    .mediaCard {
        flex: 1;
    }

    .mediaCards {
        display: flex;
        flex-direction: row;
    }

    .slides {
        height: 100%;
    }

    .sliderControls button {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .slideText {
        bottom: 40%;
        font-size: 28px !important;
    }


    .Services {
        background: url(../img/ServicesBg.png) no-repeat right;
        background-size: contain;
        width: 100%;
    }

    main {
        padding: 40px;
    }


    .aboutWrapper {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: flex-start;
    }

    .aboutLeft {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .haqqindaIMG {
        width: 50%;
        aspect-ratio: 16 / 9;
        background: url(../img/haqqindaImg.jpg) no-repeat center;
        background-size: cover;
    }

    .mainText {
        font-size: 22px;
        line-height: 38px;
    }

    .title {
        font-size: 32px;
    }


    .navHr {
        width: 96%;
    }

    .footerMenu {
        padding-top: 0;
    }

    .footerFlex {
        gap: 200px;
    }


}





























































/* Orta ekran: ≤1200px */
@media (max-width:1200px) {

    .mediaCards {
        display: flex;
        flex-direction: row;
    }

    .slides {
        height: 90%;
    }

    .sliderControls button {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .slideText {
        bottom: 30%;
        font-size: 18px !important;
    }

    .aboutWrapper {
        gap: 20px;
    }

    .haqqindaIMG {
        width: 50%;
        aspect-ratio: 16 / 9;
    }

    .mainText {
        font-size: 16px;
    }


    .footerMenu {
        padding-top: 0;
    }

    .footerFlex {
        gap: 50px;
    }
}
























/* Kiçik ekran: ≤794px */
@media only screen and (max-width: 794px) {


    .mediaCards {
        display: block;
    }

    .mediaCard {
        margin-bottom: 20px;
    }




    .partnersSlide {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }



    .accordionBox span {
        font-size: 14px;
        padding: 2px 6px;
    }

    .sliderControls button {
        width: 28px;
        height: 28px;
        font-size: 14px;
    }

    .slideText {
        bottom: 10%;
        font-size: 16px !important;
    }

    .accordionBtn {
        font-size: 16px;
    }

    .aboutWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .haqqindaIMG {
        width: 100%;
        aspect-ratio: 16 / 9;
        background: url(../img/haqqindaImg.jpg) no-repeat center;
        background-size: cover;
    }
}